<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar1" class="col-md-2">
        
      </div>
      <main id="channels" role="main" class="col-md-8">
        <h3>Channels</h3>

        <% var users = locals.channels.users %>
        <form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
            <label>Channel Display Name</label>
          <input type="text" class="form-control" name="name" placeholder="Channel Display Name" value="">
            <label>Channel Avatar</label>
          <input type="file" name="avatar" id="channel-pic-input">
            <label>Select which users to add to the channel</label>
          <% if (users) { %>
            <% users.forEach(function(user) { %>
              <input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
              <p><%= user.name %></p>
            <% }) %>
          <% } %>
          <button id="update" type="submit">Create</button>
        </form>

        <% var owned = locals.channels.owned %>
        <div id="owned-channels" class="user-channels">
          <h4>Your Channels</h4>
        <% if (owned) { %>
          <ul>
          <% owned.forEach(function(channel) { %>
            <li>
              <img src="<%= channel.image %>" alt="<%= channel.name %>">
              <a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
              <a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          <% }) %>
          </ul>
        <% }  %>
        </div>

        <% var subscribed = locals.channels.subscribed %>
        <div id="subscribed-channels" >
          <h4>Subscribed Channels</h4>
        <% if (subscribed) { %>
          <ul>
          <% subscribed.forEach(function(channel) { %>
            <li>
              <img src="<%= channel.image %>" alt="<%= channel.name %>">
              <a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
            </li>
          <% }) %>
          </ul>
        <% }  %>
        </div>
        
      </main>
    </div> <!-- end .row --> 
</div><!-- end #main -->
<%- include('partials/footer'); %>