<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <%- include('partials/channel-sidebar'); %> 
      <main id="channels" role="main" class="col-md-9">
        <h3>Channels</h3>

        <hr>

        <% var users = locals.channels.users %>

        <% if (locals.errors.channels && locals.errors.channels.general) { %>
          <% locals.errors.channels.general.forEach(function(error) { %>
            <p class="alert alert-primary" role="alert"><%= error %></p>
          <% }) %>
        <% } %>
        <form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
            <label id="channel-dsiplay-name">Channel Display Name (max: 16 characters)</label>
          <input type="text" class="form-control" name="name" placeholder="Channel Display Name" value="" maxlength="16">

          <label id='channel-picture'>Channel Picture</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="avatar" id="customFile" placeholder="Channel Avatar">
            <label class="custom-file-label" for="customFile">Choose File</label>
          </div>

            <label id="select-which-user-to-add-to-the-channel">Select Which Users To Add To The Channel</label>
          <% if (users) { %>
            <% users.forEach(function(user) { %>
              <div class="custom-control custom-checkbox" id="select-channel-users">
                <input type="checkbox" class="custom-control-input" id="user<%= user.id %>" name="users" value="<%= user.id %>">
                <label class="custom-control-label" for="user<%= user.id %>"><%= user.name %></label>
              </div>
            <% }) %>
          <% } %>

          <button id="update" type="submit" class="btn btn-primary">Create</button>
        </form>


        
      </main>
    </div> <!-- end .row --> 
</div><!-- end #main -->
<%- include('partials/footer'); %>