<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar1" class="col-md-3">
        
        <% var owned = locals.channels.owned %>
        <div id="owned-channels" class="user-channels">
          <h4 id="your-channels">Your Channels</h4>
        <% if (owned) { %>
          <ul>
          <% owned.forEach(function(channel) { %>
            <li>
              <img src="<%= channel.image %>" alt="<%= channel.name %>">
              <a id="channel-link" href="/channel/<%= channel.id %>/"><%= channel.name %></a>
              <a id="channel-link" href="/channels/delete/<%= channel.id %>/"><t class="fa fa-trash" aria-hidden="true"></t></a>
            </li>
          <% }) %>
          </ul>
        <% }  %>
        </div>

        <% var subscribed = locals.channels.subscribed %>
        <div id="subscribed-channels" >
          <h4>Subscribed Channels</h4>
        <% if (subscribed) { %>
          <ul>
          <% subscribed.forEach(function(channel) { %>
            <li>
              <img src="<%= channel.image %>" alt="<%= channel.name %>">
              <a id="channel-link" href="/channel/<%= channel.id %>/"><%= channel.name %></a>
            </li>
          <% }) %>
          </ul>
        <% }  %>
        </div>

      </div>
      <main id="channels" role="main" class="col-md-9">
        <h3>Channels</h3>

        <% var users = locals.channels.users %>

        <% if (locals.errors.channels && locals.errors.channels.general) { %>
          <% locals.errors.channels.general.forEach(function(error) { %>
            <p class="alert alert-primary" role="alert"><%= error %></p>
          <% }) %>
        <% } %>
        <form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
            <label id="channel-dsiplay-name">Channel Display Name (max: 16 characters)</label>
          <input type="text" class="form-control" name="name" placeholder="Channel Display Name" value="" maxlength="16">
            <label id="channel-avatar">Channel Avatar</label>
          <input type="file" name="avatar" id="channel-pic-input">
            <label id="select-which-user-to-add-to-the-channel">Select which users to add to the channel</label>
          <% if (users) { %>
            <% users.forEach(function(user) { %>
              <input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
              <p><%= user.name %></p>
            <% }) %>
          <% } %>
          <button id="update" type="submit" class="btn btn-primary">create</button>
        </form>


        
      </main>
    </div> <!-- end .row --> 
</div><!-- end #main -->
<%- include('partials/footer'); %>